@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@700&display=swap");

#root,
html,
body {
	height: 100vh;
}

body {
	font-family: "Assistant", sans-serif;
	text-align: center;
	margin: 0;
	background-color: whitesmoke;
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}
